#page-name {
  background-color: indigo;
  display: flex;
  justify-content: center;
  color: white;
  padding: 25px;
  font-size: x-large;
}
.weather-info-container {
  display: none;
  margin-left: 262px;
  margin-top: -94px;
}
.btn {
  display: flex;
  margin-left: 37px;
}
