#page-name {
  background-color: indigo;
  display: flex;
  justify-content: center;
  color: white;
  padding: 25px;
  font-size: x-large;
}
.weather-info-container {
  margin-left: 262px;
  margin-top: -70px;
}
.btn {
}
